[Desktop Entry]
Name=Scratch 1.5
Comment= Programming system and content development tool modifed
Exec=scratch
Terminal=false
Type=Application
Icon=scratch
Categories=Development;
MimeType=application/x-scratch-project
